@model List<Medilearn.Models.DTOs.UserDto>

@if (!Model.Any())
{
    <p>Onay bekleyen eğitmen bulunmamaktadır.</p>
}
else
{
    <table>
        @foreach (var instructor in Model)
        {
            <tr>
                <td>@instructor.FirstName @instructor.LastName</td>
                <td>@instructor.Email</td>
                <td>Onay Durumu: @instructor.Status</td>
            </tr>
        }
    </table>
}